
@media only screen and (min-width: 768px) {
    .img-no {
      display: flex;
    }
  
    .nav-top-desktop {
      display: flex;
      justify-content: flex-end;
      background-color: #272a31;
      color: #fff;
      min-height: 30px;
      align-items: center;
    }
  
    .nav-top-desktop ul {
      display: flex;
      padding-right: 60px;
      gap: 20px;
    }
  
    .nav-top-desktop li {
      cursor: pointer;
    }
  
    .nav-top-desktop li:hover {
      color: #ec5242;
      transition-duration: 0.4s;
    }
  
    .nav-top-mobile {
      display: none;
    }
  
    .nav-wrapper-desktop {
      display: flex;
      align-items: center;
      padding: 20px;
      justify-content: space-evenly;
  
      /* margin-left: 20%; */
    }
  
    .nav-wrapper-desktop img {
      width: 200px;
      height: 70px;
      padding: 0 5%;
      cursor: pointer;
    }
  
    .nav-wrapper-desktop div {
      width: 60%;
      display: flex;
      justify-content: space-around;
    }
  
    .nav-wrapper-desktop a {
      color: #272a31;
      text-decoration: none;
    }
  
    .nav-wrapper-desktop a:hover,
    .nav-wrapper-desktop a:focus {
      color: #ec5242;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;   
     }
  
    .nav-wrapper-desktop a:nth-child(6):hover {
      color: #ec5242;
    }
  
    .presentation-container h3 {
      font-size: 70px;
      font-weight: bolder;
      background-clip: unset;
      -webkit-background-clip: text;
      color: transparent;
      background-image: url(Images/textbg.jpg);
      padding-left: 10%;
      max-width: 740px;
    }
  
    .presentation-container h1 {
      padding-top: 130px;
      padding-left: 10%;
    }
  
    .main-description {
      font-size: 13px;
      color: #272a31;
      background-color: #f7f7f8;
      padding-left: 10px;
      margin-left: 10%;
      margin-top: 40px;
      margin-bottom: 40px;
      max-width: 650px;
    }
  
    .main-program button {
      background: none;
      text-decoration: underline;
    }
  
    .speakers button {
      display: none;
    }
  
    .main-program button:hover {
      color: #ec5242;
    }
  
    .presentation-container .div-presentation {
      padding-left: 10%;
      padding-bottom: 130px;
    }
  
    .main-program article {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 20%;
      max-width: 200px;
      margin: 10px;
      background-color: #97979738;
      align-items: center;
      justify-content: space-between;
    }
  
    .main-schedule {
      margin: 30px 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .speakers-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1000px;
    }
  
    .speaker-information {
      width: 47%;
    }
  
    .partner {
      display: flex !important;
    }
  
    .button-speaker-action {
      display: flex;
    }
  
    .presentation-container-about h3 {
      display: none;
    }
  
    .presentation-container-about h1 {
      font-size: 70px;
      padding-top: 130px;
    }
  
    .main-description-about {
      max-width: 560px;
      text-align: center;
      margin: 50px 0;
    }
  
    .presentation-container-footer {
      margin-bottom: 130px;
    }
  
    .meet-container {
      flex-direction: row;
      max-width: 800px;
      gap: 20px;
      padding-bottom: 130px;
    }
  
    .first-meet {
      min-width: 50%;
    }
  
    .second-meet {
      min-width: 50%;
    }
  
    .partner-setup h2 {
      display: none;
    }
  
    .partner-setup .sponsors {
      display: none;
    }
  
    .partner-setup footer {
      color: #fff;
      background-color: transparent;
    }
  
    .footerimage {
      color: #272a31;
    }
  }
  